/* General Page Styling */
#admin-page {
    position: relative;
    width: 1440px;
    height: 1460px;
    background: #FFEDD5;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  
  /* Admin Page Header */
  .admin-page-header {
    position: absolute;
    width: 684px;
    height: 100px;
    left: calc(50% - 684px/2 + 1px);
    top: 267px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 80px;
    line-height: 97px;
    text-align: center;
    color: #000000;
  }
  
  /* Event App Header */
  .event-app-header {
    position: absolute;
    width: 888px;
    height: 145px;
    left: 276px;
    top: 67px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 120px;
    line-height: 145px;
    text-align: center;
    color: #000000;
  }
  
  /* Username Label */
  .username-label {
    position: absolute;
    width: 290px;
    height: 60px;
    left: 131px;
    top: 456px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
  }
  
  /* Username Field */
  .username-field {
    position: absolute;
    width: 400px;
    height: 60px;
    left: 421px;
    top: 456px;
    color: #000000;
    font-family: 'Inter';
    font-size: 26px;
    background: #FFFFFF;
    border-radius: 10px;
  }
  
  /* Event Name Label */
  .event-name-label {
    position: absolute;
    width: 290px;
    height: 60px;
    left: 131px;
    top: 846px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
  }
  
  /* Event Name Field */
  .event-name-field {
    position: absolute;
    width: 400px;
    height: 60px;
    left: 421px;
    top: 846px;
    color: #000000;
    font-family: 'Inter';
    font-size: 26px;
    background: #FFFFFF;
    border-radius: 10px;
  }
  
  /* Delete Event Button */
  .delete-event-button {
    position: absolute;
    width: 360px;
    height: 60px;
    left: 360px;
    top: 961px;
    background: #FFFFFF;
    border-radius: 20px;
  }
  
  /* Delete Event Label */
  .delete-event-label {
    position: absolute;
    width: 331px;
    height: 38px;
    left: 10px;
    top: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
  }
  
  /* Delete User Button */
  .delete-user-button {
    position: absolute;
    width: 360px;
    height: 60px;
    left: 360px;
    top: 605px;
    background: #FFFFFF;
    border-radius: 20px;
  }
  
  /* Delete User Label */
  .delete-user-label {
    position: absolute;
    width: 331px;
    height: 38px;
    left: 10px;
    top: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
  }
  
  /* Kullanıcı Seçici */
.user-selector {
    position: absolute;
    width: 400px;
    left: 975px;
    top: 400px; /* Y koordinatını ayarlayın */
  }
  
  .user-selector select {
    width: 100%;
    height: 80px;
    font-family: 'Inter';
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Kullanıcı Seçimi için label */
  .user-selector label {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 32px;
    color: #000000;
    display: block;
    margin-bottom: 10px;
  }
  