
* {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 2048px;
  background: #FFEDD5;
  border: 1px solid #000000;
  z-index: 0;
}

.event-app {
  position: absolute;
  width: 888px;
  height: 145px;
  left: 276px;
  top: 51px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 120px;
  line-height: 145px;
  text-align: center;
  color: #000000;
}

.engineer {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 1312px;
  top: 51px;
  background: url('engineer.png') no-repeat center center;
  background-size: cover;
}

.account-settings {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 1206px;
  top: 51px;
  background: url('account-settings.png') no-repeat center center;
  background-size: cover;
}

.events-rectangle {
  position: absolute;
  width: 1300px;
  height: 200px;
  left: 70px;
  top: 310px;
  background: #707372;
  border-radius: 30px;
}

.add-event {
  position: absolute;
  width: 260px;
  height: 120px;
  left: 60px;
  top: 40px;
  background: #D9D9D9;
  border-radius: 20px;
}

.update-event {
  position: absolute;
  width: 260px;
  height: 120px;
  left: 380px;
  top: 40px;
  background: #D9D9D9;
  border-radius: 20px;
}

.delete-event {
  position: absolute;
  width: 240px;
  height: 120px;
  left: 700px;
  top: 40px;
  background: #D9D9D9;
  border-radius: 20px;
}

.join-event {
  position: absolute;
  width: 240px;
  height: 120px;
  left: 1000px;
  top: 40px;
  background: #D9D9D9;
  border-radius: 20px;
}

.add-event-text {
  position: absolute;
  width: 183px;
  height: 91px;
  left: 45px;
  top: 5px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.update-event-text {
  position: absolute;
  width: 183px;
  height: 91px;
  left: 45px;
  top: 5px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.delete-event-text {
  position: absolute;
  width: 183px;
  height: 91px;
  left: 30px;
  top: 5px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.join-event-text {
  position: absolute;
  width: 183px;
  height: 91px;
  left: 30px;
  top: 5px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.user-events {
  position: absolute;
  width: 1300px;
  left: 70px;
  top: 580px;
  background: #707372;
  border-radius: 20px;
  padding: 20px;
}

.user-events h2 {
  font-size: 36px;
  font-family: 'Inter';
  margin-bottom: 10px;
  color: #000000;
}

.user-events ul {
  list-style-type: none;
  padding: 0;
}

.user-events li {
  margin-bottom: 15px;
  padding: 10px;
  background: #FFF;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-events li h3 {
  margin: 0 0 5px 0;
  font-size: 20px;
  font-family: 'Inter';
  color: #000;
}

.user-events li button {
  background-color: #707372;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.user-events li button:hover {
  background-color: #B0B0B0;
}

.map-container {
  position: absolute;
  width: 1300px;
  left: 69px;
  top: 310px;
  margin: 0 auto;
  border: 1px solid #000;
  z-index: -1;
}
