
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 2048px;
    background: #FFEDD5;
    border: 1px solid #000000;
  }
  
  .EVENT_APP {
    position: absolute;
    width: 888px;
    height: 145px;
    left: 276px;
    top: 67px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 120px;
    line-height: 145px;
    text-align: center;
    color: #000000;
  }
  
  .REGISTER {
    position: absolute;
    width: 480px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: 254px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 80px;
    line-height: 97px;
    text-align: center;
    color: #000000;
  }
  
  .label {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    position: absolute;
    width: 400px;
    height: 60px;
    left: 25px;
  }
  
  .Username { top: 747px; }
  .Password { top: 841px; }
  .Email { top: 935px; }
  .Location { top: 1029px; }
  .AreasOfInterest { top: 1123px; }
  .Name { top: 1217px; }
  .Surname { top: 1311px; }
  .DateOfBirth { top: 1395px; }
  .Gender { top: 1479px; }
  .Number { top: 1563px; }
  
.input-field {
  position: absolute;
  width: 800px;
  height: 50px;
  left: 390px;
  background: #FFFFFF;
  border-radius: 10px;
  color: #000000;
  font-family: 'Inter';
  font-size: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.Rectangle2 { top: 748px; }
.Rectangle5 { top: 841px; }
.Rectangle6 { top: 935px; }
.Rectangle7 { top: 1029px; }
.Rectangle8 { top: 1123px; }
.Rectangle9 { top: 1217px; }
.Rectangle10 { top: 1311px; }
.Rectangle11 { top: 1395px; }
.Rectangle12 { top: 1478px; }
.Rectangle13 { top: 1569px; }

  
.Rectangle4 {
  position: absolute;
  width: 420px;
  height: 80px;
  left: 510px;
  top: 1688px;
  background: #FFFFFF;
  border-radius: 20px;
}

.Register-button {
  position: absolute;
  width: 360px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
  
.user-icon {
  position: absolute;
  width: 312px;
  height: 312px;
  left: 563px;
  top: 393px;
  background: url(default_user.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}
  
  .LoginLink {
    position: absolute;
    width: 480px;
    height: 122px;
    left: 480px;
    top: 1837px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #000000;
  }
